<li id="comment-<%=comment._id%>">
    <div class="comment-content-container">
        <%= comment.content %>
            <% if(locals.user && ((locals.user.id == post.id) || (locals.user.id == comment.user.id))) { %>
                <a href="/comments/destroy/<%= comment._id %>">
            <span class="fa fa-times delete-comment-button" data-comment-id="<%= comment._id %>">
            </span>
        </a>
                <% } %>

    </div>
    <span><%= comment.user.name %></span>
    <div id="comment-social-container">
        <button class="fa fa-heart red comment-like-button"></button>
    </div>
</li>