<li id="post-<%= post.id %>">
    <div>
        <div class="post-content-container">
            <div class="content">
                <%= post['content'] %>
            </div>
            <% if(locals.user && (locals.user.id == post.user.id)) { %>
                <div>
                    <!-- <a href="/posts/destroy/<%= post.id %>" class="delete-post-button">
                        <span class="fa fa-trash"></span>
                    </a> -->
                    <span class="fa fa-trash delete-post-button" data-post-id="<%= post.id %>"></span>
                </div>
                <% } %>
        </div>
        <div class="post-metadata">
            <div class="author">
                <%= post['user']['name'] %>
            </div>
            <div>
                <div class="created-at">
                    Created At:
                    <%= post['createdAt'] %>
                </div>
                <div class="updated-at">
                    Last Updated At:
                    <%= post['updatedAt'] %>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-container">
        <!-- add new comment form -->
        <% if (locals.user) { %>
            <%- include('./_form_comment.ejs', {post: post}) -%>
                <% } %>

                    <div class="display-comments-container">
                        <ul>
                            <% for(let comment of post.comments) { %>
                                <%- include('./_comment.ejs', {comment: comment, post: post}) -%>
                                    <%  } %>
                        </ul>
                    </div>

    </div>
    <div class="post-social-container">
        <button class="fa fa-heart post-like-button"></button>
        <span class="num-likes">--</span>
    </div>
</li>